<!DOCTYPE html>
<html>
  <head>
    <title>Malicious Delay Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div class = "maindiv">
      <h1>Delay Page</h1>
      <p>The file downloaded is a small text file of size 184 Bytes.</p>
      <br>
      <p>It is downloaded every 10 seconds</p>

    </div>

    <script>
      (function(){
        var intervalId = setInterval(function() {
                          var a = document.createElement("a");
                          a.setAttribute("href", "/single_download")
                          a.style.visibility = "hidden";
                          document.body.appendChild(a);
                          a.click();
                        }, 10000);
      })();
    </script>
  </body>
</html>
