<!DOCTYPE html>
<html>
  <head>
    <title>Malicious Delay Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class = "maindiv">
      <h1>Delay Page</h1>
      <p>The file downloaded is a small text file of size 184 Bytes.</p>
      <br>
      <p>It is downloaded every 10 seconds</p>

    </div>

    <script>
      $(document).ready(function(){
        var i = 1;
        var intervalId = setInterval(function() {
                          var $a = $('<a />', {
                            'href': '/single_download',
                            'text': "click"
                            }).hide().appendTo("body")[0].click();
                            i = i + 1;
                        }, 10000);
      });
    </script>
  </body>
</html>
