<!DOCTYPE html>
<html>
  <head>
    <title>Download Spam Protection for Firefox</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div class = "maindiv">
      <h1>Test Web Application</h1>
      <p>The file downloaded is a small text file of size 184 Bytes</p>
      <br>

      <form class="form" action="/single_download" method="GET">
        <button type="submit" class="btn btn-primary">Initiate Download</button>
      </form>

      <button id="multdown_button" class="btn btn-primary">Initiate 5 Downloads</button>

      <form class="form" action="/delay_download" method="GET">
        <button class="btn btn-primary">Initiate Download after delay</button>
      </form>

    </div>

    <script>
      $(document).ready(function(){
        $("#multdown_button").click(function(){
          var i = 1;
          var intervalId = setInterval(function() {
                            var $a = $('<a />', {
                              'href': '/single_download',
                              'text': "click"
                              }).hide().appendTo("body")[0].click();
                              i = i + 1;

                              if(i>=6){
                                clearInterval(intervalId);
                              }
                          }, 1000);
        });
      });
    </script>
  </body>
</html>